.App {
  background-color: #F7FAFC;
  height: 100vh;
}

.svg-d3 .bar {
  fill: #80cbc4;
}

.svg-d3 text {
  font-size: 12px;
  fill: #fff;
}

.svg-d3 path {
  stroke: gray;
}

.svg-d3 line {
  stroke: gray;
}

.svg-d3 line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.svg-d3 .grid path {
  stroke-width: 0;
}

.svg-d3 .grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

.svg-d3 text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

.svg-d3 text.value {
  font-size: 14px;
}

.svg-d3 text.title {
  font-size: 22px;
  font-weight: 600;
}

.svg-d3 text.label {
  font-size: 14px;
  font-weight: 400;
}

.svg-d3 text.source {
  font-size: 10px;
}